/* fonts */
@font-face {
	font-family: "Kepler Black";
	src: 
		local('Kepler Std Black Extended'), 
		local('KeplerStd-BlackExt'),
        url('../fonts/KeplerStd-BlackExt.woff2') format('woff2'),
        url('../fonts/KeplerStd-BlackExt.woff') format('woff');
}

@font-face {
	font-family: "Kelvinch";
	src: local("Kelvinch");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Kelvinch";
	src: local("Kelvinch Bold");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Kelvinch";
	src: local("Kelvinch Italic");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Kelvinch";
	src: local("Kelvinch Bold Italic");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Franklin Gothic";
	src: 
		local('Franklin Gothic Demi Cond'), 
		local('FranklinGothic-DemiCond'),
        url('../fonts/FranklinGothic-DemiCond.woff2') format('woff2'),
        url('../fonts/FranklinGothic-DemiCond.woff') format('woff');
}


/* variables */
:root {
	--main-width: 800px;
	--main-spacing: 105px;
	--body-width: calc(100vw - (var(--main-spacing) * 2));
	
	--big-spacing: 72px;
	--inner-spacing: 4px;
	--hang-spacing: 1.75em;
	
	--body-text-1em: 16px;
	--body-text-color: black;
}


/* elements */
body {
	margin: 0px;
	
	font-family: "Kelvinch", serif;
	font-size: 1em;
	font-variant-ligatures: no-common-ligatures;
	
	color: var(--body-text-color);
}

main {
	max-width: var(--main-width);
	margin: var(--big-spacing) 0px var(--big-spacing) var(--main-spacing); 
	padding: 0px;
}

article, section {
	/*margin: 4.5em 0px 4.5em 0px;*/
	margin: 0px 0px var(--big-spacing) 0px;
}	

/*
article:first-child, section:first-child {
	margin-top: var(--big-spacing);
}
*/

nav {
	margin: 0px 0px var(--big-spacing) 0px;
}

h1, h2 {
	max-width: 400px;
}

h1 {
	margin: 0px 0px 0.5em 0px;
	line-height: 1em;
	
	font-family: "Franklin Gothic", sans-serif;
	font-size: 1.4em;
	font-weight: normal;
}

h2 {
	margin: 1.1em 0px 1.05em 0px;
	/*margin: 4.5em 0px 1.1em 0px;*/
	line-height: 1em;
	
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}

p, ul:not(.breadcrumbs) {
	margin: 1em 0px 1em 0px;
	line-height: inital;
	
	text-align: justify;
	text-justify: inter-character;
	hyphens: auto;
}

span.no-break {
	display: block;
}

.hero-line {
	font-variant: small-caps;
	font-weight: bold;
	text-transform: lowercase;
}

.hero-paragraph {
	margin-bottom: 4.5em;
}

.drop-cap {
	width: 83px;
	height: 78px;
	margin: 6px 20px 0px 8px;
	display: inline-block;
	float: left;
	
	line-height: 31%;
	text-indent: 9px;
	
	font-family: "Kepler Black", serif;
	font-size: 232px;
	text-transform: lowercase;
	
	color: white;
	background-color: #486DB6;
	background-image: url("../images/dropcapbg.png");
	background-repeat: repeat, repeat;
	background-size: 6.666px 8px;
	image-rendering: -moz-crisp-edges;
	
	/*border: solid 1px black;*/
	overflow: hidden;
	transform: scale(1.2,1);
	
	text-shadow: 1px 0px 0px rgba(255,0,255,0.2), 0px 1px 0px rgba(0,255,0,0.1);
}

.drop-cap.a { line-height: 31%; text-indent: 9px; }
.drop-cap.b { line-height: 52%; text-indent: 3px; }
.drop-cap.c { line-height: 30%; text-indent: 6px; }
.drop-cap.d { line-height: 52%; text-indent: -37px; }
.drop-cap.e { line-height: 30%; text-indent: 6px; }
.drop-cap.f { line-height: 85%; text-indent: 3px; }
.drop-cap.g { line-height: 31%; text-indent: 9px; }
.drop-cap.h { line-height: 52%; text-indent: -40px; }
.drop-cap.i { line-height: 57%; text-indent: 18px; }
.drop-cap.j { line-height: 62%; text-indent: 18px; }
.drop-cap.k { line-height: 25%; text-indent: -8px; }
.drop-cap.l { line-height: 24%; text-indent: 0px; }
.drop-cap.m { line-height: 34%; text-indent: -1px; }
.drop-cap.n { line-height: 24%; text-indent: -2px; }
.drop-cap.o { line-height: 30%; text-indent: 6px; }
.drop-cap.p { line-height: 0%; text-indent: -44px; }
.drop-cap.q { line-height: 0%; text-indent: -36px; }
.drop-cap.r { line-height: 24%; text-indent: -2px; }
.drop-cap.s { line-height: 28%; text-indent: 9px; }
.drop-cap.t { line-height: 60%; text-indent: 8px; }
.drop-cap.u { line-height: 21%; text-indent: 0px; }
.drop-cap.v { line-height: 28%; text-indent: 9px; }
.drop-cap.w { line-height: 27%; text-indent: -7px; }
.drop-cap.x { line-height: 27%; text-indent: -13px; }
.drop-cap.y { line-height: 27%; text-indent: -18px; }
.drop-cap.z { line-height: 25%; text-indent: 12px; }

.subnote, figcaption {
	padding-right: 4em;
	margin: var(--body-text-1em) 0em var(--body-text-1em) 0em;
}

.subnote p, nav, h3, h4, h5, h6, h7, h8, h9, figcaption {
	text-align: left;
	hyphens: none;
	
	font-size: 11.5px;
	font-family: arial, sans-serif;
	line-height: 1.39em;
	
	text-shadow: none;
}

figcaption {
	font-style: italic;
}

h3, h4, h5, h6, h7, h8, h9 {
	margin: 17.6px 0px 0px 0px;
}

.mla {
	padding-left: 2em;
	text-indent: -2em;
}

ul, ol {
	padding-left: 0px;
}

ul {
	list-style: circle outside;
}

.list-georgian {
	list-style-type: georgian;
}

ul.breadcrumbs {
	margin: 0px;
	padding: 0px;
	display: block;
}

ul.breadcrumbs li {
	padding: 0px;
	display: inline;
	
	white-space: nowrap;
}

ul.breadcrumbs li:after {
	/*
	margin: 0px 0.5px 0px 0.5px;
	font-size: 1.2em;
	*/
	content:" > ";
}

ul.breadcrumbs li:last-child:after {
	content: "";
}

ul.breadcrumbs a {
	border: 0;
	text-decoration: none;
}

a {
	color: inherit;
	/*
	border-bottom: dotted 1px gray;
	text-decoration: none;
	*/
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: gray;
}

a:target {
	outline: 0;
	border: 0;
}

a.back {
	font-weight: bold;
	border-bottom: dotted 1px gray;
	text-decoration: none;
}

a.button:active {
	position: relative;
	top: 1px;
}

a[href^="mailto:"] {
	white-space: nowrap;
}

.link-list a:not(:hover) {
	border: none;
	text-decoration: none;
}

sup a:target, span.highlight, span.info { /* *:target */
	background-color: #D5D580;
	background-image: url("../images/highlight.png");
	background-repeat: repeat, repeat;
	image-rendering: -moz-crisp-edges;
}

span.highlight, span.info:not(>.subnote) {
	/*
	background-color: #FF9;
	outline: solid 1px #FF9;
	*/
	padding: 1px;
}

.highlight a, .info a {
	text-decoration-color: var(--body-text-color);
}

.name {
	font-style: italic;
}

sup {
	font-size: 0.7em;
	font-style: normal;
}

sup a {
	padding: 0px 2px 0px 2px;
	
	border: 0;
	text-decoration: none;
	text-shadow: none;
}

img.content {
	width: calc(100% - 2px);
	margin: 0.5em 0em 0px 0em;
	
	/*background-color: #000;*/
	/*background-image: url("../images/hatch.png");*/
	border: solid 1px #000;
}

img.content + img.content {
	margin-top: var(--inner-spacing);
	/*margin-top: -6px;*/
}



.image-group {
	width: 100%;
	padding-bottom: 4px;
	
	display: flex;
	flex-flow: row wrap;
}

.image-group, .image-group + img.content{
	margin: var(--inner-spacing) 0em 0px 0em;
}

p + .image-group {
	margin-top: 1.5em;
}

.image-group .image-group {
	margin: 0px;
	padding: 0px;
}

.image-group img.content {
	margin: 0px;
	flex: 1 1 250px;
	object-fit: cover;
}

.image-group img.content + img.content {
	margin: 0px;
}

img.content.no-scale {
	width: auto;
}

img.content.constrained {
	max-width: 100%;
}

img.content.no-border {
	outline: none;
	border: none;
}

dd {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
}



/* formatting elements */
.balcony {
	position: absolute;
	left: calc( var(--main-spacing) + var(--main-width) + var(--hang-spacing) );
}

.balcony .subnote, .balcony figcaption {
	padding-right: 0px;
}

.balcony.thumbnail .balcony {
	left: calc( 160px + var(--hang-spacing) );
}

.thumbnail {
	max-width: 160px;
}

.format-left { margin: 0px auto 0px 0px; }
.format-center { margin: 0px auto; }
.format-right { margin: 0px 0px 0px auto; }

.float-left, .float-right { float: none; }

img.content.float-left, img.content.float-right {
	width: calc( 50% - (var(--hang-spacing) / 2) );
}

img.content.float-left { float: left; }
img.content.float-right { float: right; }



/* inner elements */
.toc {
	width: calc(100% + 2px);
	
	position: relative;
	left: -1px;
	
	line-height: 1em;
	
	border-radius: 10px/5px;
	border: solid 0.7px black;
}

.toc ul {
	margin: 0px;
	padding-left: 20px;
	
	line-height: 1.75em;
	text-align: left;
	text-justify: none;
	hyphens: none;
	
	list-style: none inside;
}

.toc ul.year {
	margin: 1em 0px 1.5em 0px;
	
	font-weight: bold;
}

.toc ul.month {
	font-weight: normal;
}

.toc ul.month li {
	margin-top: 0.8em;
	line-height: 1.2em;
}

.toc ul.day {
	padding-left: 0px;
}

.toc ul.day li {
	min-width: 2em;
	margin: 0px;
	padding: 4px 3px 3px 2px;
	display: inline-block;
	
	line-height: 1.2em;
	text-align: center;
	
	background-color: #FFF;
	border: solid 1px black;
	border-radius: 1px;
}

.toc ul.day a:active li {
	border-style: dotted;
}




/* media queries */

@media screen and (max-width: 1300px) { /*1016*/
	:root {
		--main-spacing: 50px;
	}

	main {
		margin: var(--big-spacing) auto;
		padding: 0px var(--main-spacing);
	}

	.balcony p:first-child {
		margin-top: 0px;
	}	
	
	.balcony {
		position: relative;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
	
	.balcony * {
		margin-top: inherited;
	}
	
	.float-left {
		margin-right: var(--hang-spacing);
		float: left;
	}

	.float-right {
		margin-left: var(--hang-spacing);
		float: right;
	}
	
	.format-ignore {
		display: none;
	}
}

@media screen and (min-width: 701px) {
	img.content.float-left, img.content.float-right {
		margin-bottom: var(--hang-spacing);
	}

	img.content.float-left { margin-right: var(--hang-spacing); }
	img.content.float-right { margin-left: var(--hang-spacing); }
}

@media screen and (max-width: 700px) {
	.subnote p {
		text-align: left;
	}
	
	.subnote {
		padding-right: 0em;
	}
	
	img.content.float-left, 
	img.content.float-right {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	p {
		text-justify: inter-word;
	}
}

@media screen and (min-width: 501px) {
	img.content.float-left,
	img.content.float-right,
	.balcony img.content:first-child,
	.balcony .subnote:first-child,
	.balcony figcaption:first-child {
		margin-top: 5px;
	}

	.balcony p:first-child {
		margin-top: 0px;
	}	
}

@media screen and (max-width: 500px) {
	:root {
		--main-spacing: 20px;
	}
	
	.drop-cap {
		all: unset;
	}
	
	span.no-break {
		display: inline;
	}
	
	ul {
		list-style: circle inside;
	}
	
	.balcony,
	.format-center, 
	.format-left, 
	.format-right, 
	.float-left, 
	.float-right {
		margin: 0px auto;
		float: none;
	}
}

@media screen and (max-width: 400px) {
	p {
		text-align: left;
	}
}