/* fonts */
@font-face {
	font-family: "Kepler Black";
	src: 
		local('Kepler Std Black Extended'), 
		local('KeplerStd-BlackExt'),
        url('../fonts/KeplerStd-BlackExt.woff2') format('woff2'),
        url('../fonts/KeplerStd-BlackExt.woff') format('woff');
}

@font-face {
	font-family: "Kelvinch";
	src: local("Kelvinch");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Kelvinch";
	src: local("Kelvinch Bold");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Kelvinch";
	src: local("Kelvinch Italic");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Kelvinch";
	src: local("Kelvinch Bold Italic");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Franklin Gothic";
	src: 
		local('Franklin Gothic Demi Cond'), 
		local('FranklinGothic-DemiCond'),
        url('../fonts/FranklinGothic-DemiCond.woff2') format('woff2'),
        url('../fonts/FranklinGothic-DemiCond.woff') format('woff');
}



/* variables */
:root {
	--main-width: 800px;
	--main-spacing: 105px;
	--body-width: calc(100vw - (var(--main-spacing) * 2));
	
	--body-text-color: black;
	--body-text-1em: 16px;
	
	--big-spacing: 72px;
	--small-spacing: calc(var(--body-text-1em) * 2);
	--element-spacing: 5px;
	--figure-spacing: calc(var(--body-text-1em) * 1.5);
	
	--indent-spacing: calc(var(--body-text-1em) * 1.5);
	
	--thumbnail-size: calc(var(--main-width) / 4);
	--charm-size: calc(var(--body-text-1em) * 2);
	--group-margin: 0.5em;
	--group-margin-save: calc(var(--group-margin) * 2);
}



/* big elements */
body {
	margin: 0px;
	
	font-family: "Kelvinch", serif;
	font-size: var(--body-text-1em);
	font-variant-ligatures: none;
	
	color: var(--body-text-color);
	
	counter-reset: figNo;
}

main {
	max-width: 100%;
	margin: 
	var(--big-spacing) 
	var(--main-spacing) 
	var(--big-spacing) 
	var(--main-spacing); 
	padding: 0px;
}

main * {
	max-width: var(--main-width);
}

article, section {
	margin: 0px 0px var(--big-spacing) 0px;
	counter-reset: figNo;
}	

article:first-child {
	margin-top: 0px;
}

nav {
	margin: 0px 0px var(--big-spacing) 0px;
}



/* content elements */
h1 {
	margin: var(--body-text-1em) 0em 0px 0em;
	line-height: 1em;
	
	font-family: "Franklin Gothic", sans-serif;
	font-size: 1.4em;
	font-weight: normal;
}

h2, dt {
	margin: var(--small-spacing) 0em 0px 0em;
	
	font-size: var(--body-text-1em);
	font-style: italic;
	font-weight: bold;
	font-variant-ligatures: discretionary-ligatures;
}

h2:first-child, h1 + h2, h1 + dl, h1 + dt, h1 + dl dt:first-child {
	margin-top: var(--body-text-1em);
}

h3, h4, h5, h6, h7, h8, h9 {
	margin: var(--body-text-1em) 0px 0px 0px;
}

p {
	margin: var(--body-text-1em) 0em 0px 0em;
	
	text-align: justify;
	text-justify: inter-character;
	hyphens: auto;
}

p ~ *:not(p) {
	margin-top: var(--figure-spacing);
}

/*indent rules*/
/*
p:not(:first-of-type):not(.subnote), 
.full-width > figcaption:not(.group-child) {
	text-indent: var(--indent-spacing);
}
*/

.center {
	text-align: center;
}

.subnote, figcaption, dl.reduced dd {
	padding-right: 4em;
	margin: var(--body-text-1em) 0em 0px 0em;
}

.subnote, nav, h3, h4, h5, h6, h7, h8, h9, figcaption, dl.reduced dd {
	text-align: left;
	hyphens: none;
	
	font-size: 11.5px;
	font-family: arial, sans-serif;
	line-height: 1.39em;
}

figcaption {
	font-style: italic;
}

figcaption:not(:first-child), dl.reduced dd:not(:first-child) {
	margin-top: var(--element-spacing);
}

figcaption + figcaption:not(:first-child) {
	margin-top: 0px;
}

.group-child + figcaption {
	margin-top: 0px;
}

figure {
	margin-top: var(--figure-spacing);
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: var(--figure-spacing);
}

figure figure {
	margin-top: 0px;
}

figure img.content {
	margin-top: 0px;
}

figure figcaption {
	margin-top: 0px;
}

figure *:first-child, figure.group-child *:first-child {
	margin-top: 0px;
}

.align figure, .align.align-middle figure {
	margin-top: 0px;
	margin-bottom: 0px;
}

ul, ol {
	padding-left: 0px;
}

ul {
	list-style: circle outside;
}

ul.georgian, ol.georgian {
	list-style-type: georgian;
}

ul.breadcrumbs {
	margin: 0px;
	padding: 0px;
	display: block;
}

ul.breadcrumbs li {
	padding: 0px;
	display: inline;
	
	white-space: nowrap;
}

ul.breadcrumbs li:after {
	/*
	margin: 0px 0.5px 0px 0.5px;
	font-size: 1.2em;
	*/
	content:" > ";
}

ul.breadcrumbs li:last-child:after {
	content: "";
}

ul.breadcrumbs a {
	border: 0;
	text-decoration: none;
}

sup, sub {
	font-size: 0.7em;
	font-style: normal;
}

dl {
	margin: 0px;
}

dl.reduced dt {
	margin-top: var(--figure-spacing);
	font-style: normal;
	font-weight: normal;
}

dd {
	margin-top: var(--body-text-1em);
	margin-bottom: var(--body-text-1em);
	margin-left: var(--indent-spacing);
}

code {
	margin: var(--figure-spacing) 0px var(--element-spacing) 0px;
	padding: 0.75em 1em 0.75em 1em;
	
	border: 1px solid black;
	
	font-family: courier new, monospace;
	font-size: 15px;
	line-height: 1em;
	display: block;
	white-space: pre;
	
	/* background-color: #F8F8F8; */
}

code.no-border {
	margin-top: var(--body-text-1em);
	padding: 0px;
	border: none;
}

pre {
	margin: var(--body-text-1em) 0px 0px 0px;
}



/* custom content elements */
.no-break {
	display: block;
}

strong {
	font-weight: normal;
}

strong, [title], :target {
	padding: 0;
	
	background-color: #D5D580;
	background-image: url("../images/highlight.png");
	background-repeat: repeat, repeat;
	image-rendering: -moz-crisp-edges;
	
	display: inline-block;
}

p strong, p [title], p:target {
	display: inline;
}

.center {
	text-align: center;
}

.indent {
	margin-left: var(--indent-spacing);
}

article p > strong, 
article p:not(.subnote) > [title], 
:target {
	padding-left: 0.3ch;
	padding-right: 0.3ch;
	margin-left: -0.3ch;
	margin-right: -0.3ch;
    box-decoration-break: clone;
}

[title] {
	cursor: help;
}

.name {
	font-style: italic;
}

img.content {
	width: calc(100% - 2px);
	margin: var(--figure-spacing) 0em 0px 0em;
	display: block;
	
	/*background-color: #000;*/
	/*background-image: url("../images/hatch.png");*/
	border: solid 1px #000;
}

img.content.no-scale {
	width: auto;
}

img.content.no-border {
	border: none;
}

img.contrast {
	filter: contrast(95%);
}

.ligatures {
	font-variant-ligatures: common-ligatures;
}

.numbered:before {
    counter-increment: figNo;
    content: "№ "counter(figNo)": ";
	
	font-weight: bold;
}



.group {
	margin-left: calc(var(--body-text-1em) * -0.5 );
	margin-right: calc(var(--body-text-1em) * -0.5 );
	display: flex;
	min-width: calc(100% + 1em);
	width: var(--main-width);
}

/*
.group .group {
	margin: 0px;
}
*/

.group.collapse {
	flex-flow: row wrap;
}

.group.full-width {
	min-width: calc(calc(100vw - var(--main-spacing) * 2) + var(--group-margin-save));
	width: 100%;
	max-width: none;
}

.group.align, .group.align-middle {
	align-items: center;
}

.group.align-top {
	align-items: flex-start;
}

.group.align-bottom {
	align-items: flex-end;
}

.group .group-child {
	margin-left: calc(var(--body-text-1em) * 0.5);
	margin-right: calc(var(--body-text-1em) * 0.5);
}

.group-child:first-child.full-width {
	width: var(--main-width);
}

.group.full-width > .group .group-child figcaption {
	padding-right: 0em;
}





.quote {
	text-align: left;
	hyphens: none;
}

.quote:before { content: "“"; }
.quote:after { content: "”"; }

.quote.georgian:before { content: "„" }
.quote.georgian:after { content: "“" }





.half-width {
	width: calc(50% - calc(var(--body-text-1em) / 2));
}

.snippet-column {
	max-width: calc(var(--main-width) * 0.5);
}

.thumbnail, img.thumbnail {
	width: var(--thumbnail-size);
}

.charm, img.charm {
	height: var(--charm-size);
	margin: 0;
}

.float {
	float: none;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--figure-spacing);
	margin-bottom: var(--body-text-1em);
	display: block;
}

.float.float-left {
	float: left;
	margin-right: var(--body-text-1em);
}

.float.float-right {
	float: right;
	margin-left: var(--body-text-1em);
}

.float .subnote, .float figcaption {
	padding-right: 0em;
}

.balcony {
	float: none;
	position: absolute;
	left: calc(var(--main-spacing) + var(--main-width));
	margin-left: var(--body-text-1em);
}

.balcony.nudge.nudge-up {
	margin-top: -3em;
}

.balcony.nudge.nudge-down {
	margin-top: 3em;
}





/* links */
a {
	color: inherit;
	/*
	border-bottom: dotted 1px gray;
	text-decoration: none;
	*/
	text-decoration: underline;
	text-decoration-style: dotted; /*dotted*/
	text-decoration-color: var(--body-text-color);
}

a:target {
	outline: 0;
	border: 0;
}

a.back {
	font-weight: bold;
	border-bottom: dotted 1px var(--body-text-color);
	text-decoration: none;
}

a.button:active {
	position: relative;
	top: 1px;
}

strong a, a:target, [title] a {
	text-decoration-style: solid;
}

a[href^="mailto:"] {
	white-space: nowrap;
}

.link-list a:not(:hover) {
	border: none;
	text-decoration: none;
}

button, .inset {
	background-color: #C0C0C0;
	border: 1px outset #FFF;
	outline: 1px outset #000;
}

button {
	padding: 5px 6px;
	display: inline;
	
	font-family: arial, sans-serif;
	font-size: 11.5px;
	text-decoration: none;
}

button:hover {
	background-color: #D0D0D0;
}

button:active {
	padding: 6px 6px 4px 6px;
	
	background-color: #AAA;
	border: 1px inset #C0C0C0;
	outline: 1px inset #000;
}



/* hero styling */

.hero-line {
	font-variant: small-caps;
	font-weight: bold;
	text-transform: lowercase;
}

.drop-cap {
	all: initial;
	
	width: 83px;
	height: calc(var(--body-text-1em) * 4.9); /* 78px; */
	margin: 6px 20px 0px 8px;
	display: inline-block;
	float: left;
	
	line-height: 31%;
	text-indent: 9px;
	
	font-family: "Kepler Black", serif;
	font-size: 14.5em;
	text-transform: lowercase;
	
	color: white;
	background-color: #486DB6;
	background-image: url("../images/dropcapbg.png");
	background-repeat: repeat, repeat;
	background-size: 6.666px 8px;
	image-rendering: -moz-crisp-edges;
	
	/*border: solid 1px black;*/
	outline: inset 1px rgba(0,0,0,0.4);
	overflow: hidden;
	transform: scale(1.2,1);
	
	/*text-shadow: 1px 0px 0px rgba(255,0,255,0.2), 0px 1px 0px rgba(0,255,0,0.1);*/
}

.drop-cap.a { line-height: 31%; text-indent: 9px; }
.drop-cap.b { line-height: 52%; text-indent: 3px; }
.drop-cap.c { line-height: 30%; text-indent: 6px; }
.drop-cap.d { line-height: 52%; text-indent: -37px; }
.drop-cap.e { line-height: 30%; text-indent: 6px; }
.drop-cap.f { line-height: 85%; text-indent: 3px; }
.drop-cap.g { line-height: 31%; text-indent: 9px; }
.drop-cap.h { line-height: 52%; text-indent: -40px; }
.drop-cap.i { line-height: 57%; text-indent: 18px; }
.drop-cap.j { line-height: 62%; text-indent: 18px; }
.drop-cap.k { line-height: 25%; text-indent: -8px; }
.drop-cap.l { line-height: 24%; text-indent: 0px; }
.drop-cap.m { line-height: 34%; text-indent: -1px; }
.drop-cap.n { line-height: 24%; text-indent: -2px; }
.drop-cap.o { line-height: 30%; text-indent: 6px; }
.drop-cap.p { line-height: 0%; text-indent: -44px; }
.drop-cap.q { line-height: 0%; text-indent: -36px; }
.drop-cap.r { line-height: 24%; text-indent: -2px; }
.drop-cap.s { line-height: 28%; text-indent: 9px; }
.drop-cap.t { line-height: 60%; text-indent: 8px; }
.drop-cap.u { line-height: 21%; text-indent: 0px; }
.drop-cap.v { line-height: 28%; text-indent: 9px; }
.drop-cap.w { line-height: 27%; text-indent: -7px; }
.drop-cap.x { line-height: 27%; text-indent: -13px; }
.drop-cap.y { line-height: 27%; text-indent: -18px; }
.drop-cap.z { line-height: 25%; text-indent: 12px; }





/* media queries */
@media screen and (max-width: 1300px) { /*1016*/
	:root {
		--main-spacing: 50px;
	}
	
	.group.full-width, .group.collapse {
		min-width: 0;
		width: auto;
	}
	
	/* main * {
		margin-left: auto;
		margin-right: auto;
	} */
	
	
	.balcony {
		float: right;
		position: relative;
		left: 0;
		margin-bottom: var(--body-text-1em) ;
		margin-left: var(--body-text-1em); 
		display: inline;
	}
	
	.balcony.float.float-left {
		margin-left: 0;
	}
	
	.balcony.nudge.nudge-up {
		margin-top: calc(var(--body-text-1em) * 1.5);
	}
	
	.vanish {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.subnote p {
		text-align: left;
	}
	
	.subnote, figcaption {
		padding-right: 0em;
	}
}

@media screen and (max-width: 600px) {
	p {
		text-justify: inter-word;
	}
}

@media screen and (max-width: 500px) {
	:root {
		--main-spacing: 20px;
	}
	
	.drop-cap {
		all: unset;
	}
	
	ul {
		list-style: circle inside;
	}
}

@media screen and (max-width: 400px) {
	p {
		text-align: left;
	}
}


